
<% if @username %>
<h1>Give us your money, <%= @username %> </h1>
<p>
  <img src="/images/dice/<%= @die1 %>.svg">
  <img src="/images/dice/<%= @die2 %>.svg">
</p>
<p>
  The total is <%= @total %>
</p>

<p>
  <a href="/dice">Roll Again <%= @username %> </a>
</p>

<% else %>
<h1> what is your name? </h1>
<form action="/dice">
<input type"text" name="username">
<button>Let's play!</button>
</form>
<% end %>
